.all{
    background-color: black;
    
}

header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    
}

.photo{
    display: flex;
    
}
.photofolio{
    color: white;
}
.photo i{
    margin-top: 26px;
    color: 2CBC85;
}


.social-media{
    display: flex;
    color: lightgray;
}

.social-media ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    
}
.social-media ul li{
    margin-right: 20px;
    margin-top: 20px;
}
.social-media li:hover{
    color: white;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    

}
.menu ul li{
    margin-right: 27px;
    margin-top: 20px;
    
}


.menu ul li a{
    text-decoration: none;
    color: lightgray;
    background-color: black;
    /* transition-property: all;
    transition-duration: 4s; */

}

.menu ul li a:hover{
    
    text-decoration: underline;
    background-color:2CBC85 ;
    transform:scale(1.5);
    transition-property: all;
    transition-duration: 4s;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text h1{
    text-align: center;
    color: white;
    margin-top: 90px;
}
.p-home {
    text-align: center;
    color:grey;
}


.text span{
    background-color: 2CBC85 ;
    
}

.text button{
    background-color:2CBC85 ;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
    height: 50px;
    width: 230px;
}
.text button:hover{
    background-color:2CBC95 ;
   font-size: larger;
}

.gallery{
    max-width: 100%; 
    border-radius: 10px; 
}

.gallery:hover{
    transform: scale(1.2); 
    animation:ease-in-out;
    opacity: 0.7;
    
}
.container{
    padding-top: 80px;
    overflow: hidden;
    
}

.ligne{
    color: grey;
}

.p-about{
    color:white;
    text-align: left;
}

.titre-about{
    color:2CBC95;
    margin: left 300px;
    
}

.profile{
    height: 700px;
    
}


